* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.wrapper {
  border: solid 1px red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  @media screen and (min-width: 1200px) {
  //   height: 21347px;
  // width: 1290px;
  width:60vw;
  height: 2600vh;
  }

  @media screen and (max-width: 1199px) {

  }

  @media screen and (max-width: 899px) {
 
  }

  @media screen and (max-width: 599px) {

  }

}

@font-face {
  font-family: "Russo One";
  src: url("../fonts/Russo_One/RussoOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSansCyrl/museosanscyrl_100.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kosko Regular";
  src: url("../fonts/KoskoRegular/KoskoRegular-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

$font-main: 'Museo Sans Cyrl',
sans-serif;
$font-title: 'Russo One',
sans-serif;
$font-inscription: 'Kosko Regular',
sans-serif;

$color-main: #000;
$color-title: #DF8CB0;

$main-with: 95.43%;


@mixin title-pink-text {
  color: $color-title;
  font-family: $font-title;
  font-style: normal;
  font-weight: 400;
  line-height: 113%;
  text-transform: uppercase;
}


%title-pink{
  @include title-pink-text;
  font-size: 150%;
}

%title-pink-big {
  @include title-pink-text;
  font-size: 400%;
}

%title-pink-small {
  @include title-pink-text;
  font-size: 80%;
  line-height: 123%;
letter-spacing: 3%;
}

@mixin black-text{
  color: $color-main;
  font-family: $font-main;
  font-style: normal;
  font-weight: 200;
  line-height: 126%;
  letter-spacing: 0.8px;
}

%main-text {
  @include black-text;
  font-size: 150%;
  
}

%main-text-small{
  @include black-text;
  font-size: 120%;
}

%title-text {
  color: $color-main;
  font-family: $font-title;
  font-size: 180%;
  //font-size: 40px;
  font-weight: 400;
  line-height: 123%;
  letter-spacing: 3%;
  text-align: left;
}

%quote-text {
  color: $color-title;
  font-family: $font-inscription;
  text-align: center;
  font-style: normal;
}


// .text {
// @extend %title-pink-big;
// @extend %quote-text;
// 	@extend %title-text;
//@extend %main-text ;
// 	margin-top: 20px;
// }

html {
  font-size: 100%;

 
}

li {
  // list-style-type: none;
  line-height: 1;
  list-style-image: url("../images/main/dot.png");
}

// li::before {
//   color: $color-title;

//   content: "•";
//   padding-right: 2%;
//   padding-top: 5px;
//   margin-bottom: -5px;

//   font-size: 60px;
// }