* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.wrapper {
  border: solid 1px red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media screen and (min-width: 1200px) {
  .wrapper {
    width: 50vw;
    height: 1750vh;
  }
}
@font-face {
  font-family: "Russo One";
  src: url("../fonts/Russo_One/RussoOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSansCyrl/museosanscyrl_100.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kosko Regular";
  src: url("../fonts/KoskoRegular/KoskoRegular-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
.program__quote, .header__dates {
  color: #DF8CB0;
  font-family: "Russo One", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 113%;
  text-transform: uppercase;
  font-size: 130%;
}

.payment__button-text, .payment__price-wrapper .payment__price-sum, .payment__limit .payment_limit-text, .payment__image-title .payment__image-text, .lesson__title, .tariff_image-title .tariff_image-text, .header__title-second {
  color: #DF8CB0;
  font-family: "Russo One", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 113%;
  text-transform: uppercase;
  font-size: 320%;
}

.video-first__title, .gallery__second_row .gallery__text .gallery__txt, .about__image-alone .inscription__container .inscription__text {
  color: #DF8CB0;
  font-family: "Russo One", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 113%;
  text-transform: uppercase;
  font-size: 65%;
  line-height: 123%;
  letter-spacing: 3%;
}

.payment__list-item, .lesson__text, .tariff__terms-item, .methods__list-item, .methods__header-content .methods__header-text, .program__content-list, .about__content-text, .result__list-item, .greeting__content-text {
  color: #000;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-style: normal;
  font-weight: 200;
  line-height: 126%;
  letter-spacing: 0.8px;
  font-size: 130%;
}

.terms__item-text {
  color: #000;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-style: normal;
  font-weight: 200;
  line-height: 126%;
  letter-spacing: 0.8px;
  font-size: 100%;
}

.footer__contacts-title, .footer__profiles-title, .methods__header-content .methods__header-title, .program__content-title, .result__title, .greeting__content-title {
  color: #000;
  font-family: "Russo One", sans-serif;
  font-size: 160%;
  font-weight: 400;
  line-height: 123%;
  letter-spacing: 3%;
  text-align: left;
}

.lesson__video, .lesson__text-midjourney, .tariff__quote-wrapper .tariff__quote-text, .quote-second__text, .about__image-alone .inscription__container .inscription__title, .quote-first__text {
  color: #DF8CB0;
  font-family: "Kosko Regular", sans-serif;
  text-align: center;
  font-style: normal;
}

html {
  font-size: 100%;
}

li {
  list-style: none;
  list-style-image: url("../images/main/dot.png");
  padding-right: 5%;
}

.header {
  height: 3%;
  width: 95.43%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 81px;
  background-image: url(../images/header/girl-glass.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header__dates {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: 27.29%;
  height: 21.16%;
  border-radius: 0px 70px 0px 55px;
  background: #FFF;
  align-self: flex-end;
}
.header__dates-first {
  margin-right: 4px;
}
.header__dates-second {
  margin-right: 4px;
  margin-bottom: 19px;
}
.header__title {
  display: flex;
  flex-direction: column;
  color: #DF8CB0;
  justify-content: center;
  width: 40%;
  height: 29.2%;
  border-radius: 0px 80.028px 0px 59px;
  background: #FFF;
  align-self: flex-start;
  padding-top: 4%;
}
.header__title-first {
  font-size: 250%;
  font-family: "Kosko Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 113%;
  text-transform: uppercase;
}
.main {
  height: 95.07%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.greeting {
  border: 1px solid rgb(203, 221, 110);
  height: 3.15%;
  width: 95.43%;
  display: flex;
  justify-content: space-between;
}
.greeting__content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 46.55%;
}
.greeting__content-title {
  margin-bottom: 10%;
}
.greeting__image {
  height: 100%;
  width: 50%;
}
.greeting__image .greeting__img {
  width: 100%;
}

.terms {
  border: 1px solid rgb(79, 125, 204);
  height: 1.37%;
  width: 95.43%;
  display: flex;
  justify-content: space-between;
}
.terms__item {
  height: 100%;
  width: 23.07%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  border: 3px solid #DF8CB0;
}
.terms__item-text {
  max-width: 80%;
  max-height: 80%;
  letter-spacing: 0.54px;
  text-align: center;
}

.image-steampunk {
  border: 1px solid rgb(129, 204, 79);
  height: 3.05%;
  width: 95.43%;
  display: flex;
  justify-content: center;
}
.image-steampunk__img {
  height: 100%;
}

.result {
  border: 1px solid rgb(218, 144, 55);
  height: 4.6%;
  width: 95.43%;
}
.result__title {
  height: 10%;
}
.result__list {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 5%;
}
.result__list-item {
  border: 1px solid rgb(55, 172, 218);
}

.quote-first {
  height: 1.8%;
  width: 95.43%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/main/frame.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.quote-first__text {
  max-width: 865px;
  height: 70%;
  padding-top: 4.5%;
  font-size: 80%;
  font-weight: 400;
  line-height: 233%;
  /* 55.92px */
  letter-spacing: 4.08px;
  text-transform: uppercase;
}

.about {
  border: 1px solid rgb(218, 55, 69);
  height: 8%;
  width: 95.43%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about__image {
  border: 1px solid rgb(58, 218, 55);
  height: 37%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.about__image-alone {
  width: 48%;
  border: 1px solid rgb(16, 77, 15);
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  background-image: url(../images/main/author.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 68px;
}
.about__image-alone .inscription__container {
  width: 70%;
  height: 25%;
  display: flex;
  flex-direction: column;
  border-radius: 0px 65px 0px 0px;
  background: #FFF;
}
.about__image-alone .inscription__container .inscription__title {
  align-self: flex-start;
  font-size: 200%;
  line-height: 142%;
  /* 90.88px */
  transform: rotate(-6.01deg);
  padding-left: 12%;
  padding-top: 3%;
}
.about__image-alone .inscription__container .inscription__text {
  align-self: end;
  letter-spacing: 0.78px;
  text-align: right;
  margin-right: 6%;
}
.about__image-child {
  width: 48%;
  background-image: url(../images/main/author-with-child.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 68px;
}
.about__content {
  height: 55%;
  display: flex;
  justify-content: space-between;
}
.about__content-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 47%;
}
.quote-second {
  height: 1.33%;
  width: 95.43%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/main/frame.png);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}
.quote-second__text {
  font-size: 90%;
  font-weight: 400;
  letter-spacing: 4.08px;
  text-transform: uppercase;
}

.gallery {
  border: 1px solid rgb(103, 224, 103);
  height: 13.92%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gallery__first_row {
  height: 22%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.gallery__first_row #tarantino {
  width: 31.94%;
}
.gallery__first_row #girl_wolf {
  width: 38.14%;
}
.gallery__first_row #girl_mushrooms {
  width: 24.19%;
  height: 122.88%;
}
.gallery__second_row {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.gallery__second_row #girl_blue_flowers {
  height: 145.63%;
  width: 31.94%;
  margin-top: -10.5%;
}
.gallery__second_row .gallery__text {
  border: 1px solid rgb(192, 123, 222);
  width: 38.14%;
  height: 137.1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -10.5%;
}
.gallery__second_row .gallery__text #cocktail {
  width: 100%;
}
.gallery__second_row .gallery__text .gallery__txt {
  font-size: 80%;
  text-align: center;
}
.gallery__second_row #girl_orange_flowers {
  height: 114%;
  width: 24.19%;
  margin-top: 1%;
}
.gallery__third_row {
  border: 1px solid rgb(41, 66, 116);
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.gallery__third_row #girl_bear {
  height: 114.29%;
  width: 31.94%;
  margin-top: -1.5%;
}
.gallery__third_row #girl_robo_costume {
  height: 125.7%;
  width: 38.14%;
  margin-top: -3.5%;
}
.gallery__third_row #water_channel {
  height: 119%;
  width: 24.19%;
  margin-top: -3.5%;
}
.gallery__fourth_row {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.gallery__fourth_row #batman {
  height: 114.29%;
  width: 31.94%;
  margin-top: -6%;
}
.gallery__fourth_row #rabbit {
  height: 107.227%;
  width: 38.14%;
  margin-top: -3%;
}
.gallery__fourth_row #girl_blue_hair {
  height: 113.57%;
  width: 24.19%;
  margin-top: -5.9%;
}

.questions {
  border: 1px solid rgb(49, 88, 118);
  height: 4%;
  width: 95.43%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.questions__first {
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.questions__first-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5%;
}
.questions__first-content .questions__text {
  color: #000;
  font-family: "Kosko Regular", sans-serif;
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: 117%;
  letter-spacing: 0.96px;
  text-align: center;
}
.questions__first-content .questions__line {
  padding-top: 5%;
  margin-bottom: 10%;
  width: 100%;
}
.questions__first-image {
  height: 80%;
}
.questions__first-image .questions__first-img {
  height: 100%;
}
.questions__second {
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.questions__second-image {
  height: 80%;
}
.questions__second-image .questions__second-img {
  height: 100%;
}
.questions__second-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.questions__second-content .questions__text {
  color: #000;
  font-family: "Kosko Regular", sans-serif;
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: 117%;
  letter-spacing: 0.96px;
  text-align: center;
}
.questions__second-content .questions__line {
  padding-top: 10%;
  margin-bottom: 13%;
}

.video-first {
  border: 1px solid rgb(123, 87, 15);
  height: 3.35%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.video-first__title {
  font-size: 100%;
}
.video-first__content {
  width: 100%;
  height: 80%;
}
.video-first iframe {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.image-bears {
  border: 1px solid rgb(129, 204, 79);
  height: 3.07%;
  width: 95.43%;
  display: flex;
  justify-content: center;
}
.image-bears .image__img {
  height: 100%;
}

.program {
  border: 1px solid rgb(207, 83, 207);
  height: 7%;
  width: 95.43%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.program__content {
  height: 73.8%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.program__content-list .program__content-item span {
  color: #DF8CB0;
  font-family: "Kosko Regular", sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 233%;
  letter-spacing: 0%;
}
.program__quote {
  text-align: center;
}

.methods {
  border: 1px solid rgb(141, 41, 163);
  height: 7%;
  width: 95.43%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.methods__header {
  height: 43.9%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.methods__header-content {
  width: 39.15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
}
.methods__header-image {
  height: 100%;
  width: 50%;
}
.methods__header-image .methods__header-img {
  width: 100%;
}
.methods__list {
  width: 100%;
  padding-left: 6%;
}
.methods__list-item {
  font-size: 130%;
  margin-bottom: 3%;
}

.tariff {
  border: 1px solid rgb(53, 163, 41);
  height: 9%;
  width: 95.43%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.tariff_image {
  height: 35.86%;
  width: 100%;
  display: flex;
  justify-items: flex-start;
  align-items: flex-end;
  border-radius: 81px;
  background-image: url(../images/main/three-guys.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tariff_image-title {
  height: 20%;
  width: 37.21%;
  display: flex;
  align-items: end;
  border-radius: 0px 59px 0px 0px;
  background: rgb(255, 255, 255);
}
.tariff__terms {
  flex-grow: 0.4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.tariff__quote {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tariff__quote-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/main/frame-big.png);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}
.tariff__quote-wrapper .tariff__quote-text {
  font-size: 160%;
}

.lesson {
  border: 1px solid rgb(130, 41, 163);
  height: 5.6%;
  width: 95.43%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.lesson__video {
  border: 1px solid rgb(22, 11, 27);
  height: 40%;
  width: 80%;
}
.lesson__video iframe {
  height: 100%;
  width: 100%;
}

.payment {
  border: 1px solid rgb(18, 87, 31);
  height: 14.14%;
  width: 95.43%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.payment__image {
  height: 21.08%;
  width: 100%;
  display: flex;
  justify-items: flex-start;
  align-items: end;
  border-radius: 81px;
  background-image: url(../images/main/man-money.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.payment__image-title {
  height: 19%;
  width: 45%;
  display: flex;
  align-items: end;
  border-radius: 0px 59px 0px 0px;
  background: rgb(255, 255, 255);
}
.payment__image-title .payment__image-text {
  font-size: 290%;
}
.payment__limit {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.payment__limit-emoji {
  width: 15%;
}
.payment__limit #fire-one {
  align-self: flex-start;
}
.payment__limit #fire-two {
  align-self: flex-end;
  transform: rotate(68.81deg);
}
.payment__list {
  height: 30.94%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.payment__list-item {
  font-size: 140%;
}
.payment__price {
  border: 1px solid rgb(150, 161, 51);
  height: 20%;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.payment__price #fire-three {
  width: 20%;
  align-self: flex-end;
  transform: rotate(68.81deg);
  margin-bottom: -20%;
}
.payment__price-wrapper {
  border: 1px solid rgb(173, 99, 216);
  height: 40%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/main/frame-small.png);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}
.payment__price-wrapper .payment__price-sum {
  text-align: center;
}
.payment__price #finger {
  width: 10%;
  padding-top: 10%;
}
.payment__button {
  height: 4.32%;
  width: 48.74%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: rgb(223, 140, 176);
}
.payment__button-text {
  color: rgb(255, 255, 255);
  font-size: 240%;
}
.payment__note {
  color: #000;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 80%;
  font-weight: 250;
  line-height: 126%;
  letter-spacing: 2%;
  text-align: left;
}

.footer {
  border: 1px solid rgb(161, 82, 13);
  height: 2%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.footer__profiles {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.footer__profiles-title {
  font-size: 100%;
}
.footer__profiles-icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.footer__contacts {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.footer__contacts-title {
  font-size: 100%;
}
.footer__contacts-icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.footer .footer__profiles-icon {
  max-width: 50px;
}/*# sourceMappingURL=index.css.map */