@import "./template";

.header {
    height: 2.83%;
    width: $main-with;
    // margin-top: 5%; //временная мера
    // margin-bottom: 5%; //временная мера
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    // @media screen and (max-width: 1000px) {
    //     //временная точка
    //     width: 95%;
    // }

    border-radius: 81px;
    background-image: url(../images/header/girl-glass.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__dates {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        width: 27.29%;
        height: 21.16%;
        border-radius: 0px 70px 0px 55px;
        background: #FFF;
        align-self: flex-end;
        @extend %title-pink;

        &-first {
            margin-right: 4px;
        }

        &-second {
            margin-right: 4px;
            margin-bottom: 19px;

        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        color: $color-title;
        justify-content: center;
        width: 40%;
        height: 29.2%;
        border-radius: 0px 80.028px 0px 59px;
        background: #FFF;
        align-self: flex-start;
        padding-top: 4%;


        &-first {
            font-size: 250%;
            font-family: $font-inscription;
            font-style: normal;
            font-weight: 400;
            line-height: 113%;
            text-transform: uppercase;
        }

        &-second {
            @extend %title-pink-big;
        }
    }
}

.main {
    height: 95.07%;
    width: 100%; //блоки внутри разные, поэтому увеличила до 100%
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.greeting {
    border: 1px solid rgb(203, 221, 110);
    height: 2.6%;
    width: $main-with;
    display: flex;
    justify-content: space-between;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 46.55%;

        &-title {
            @extend %title-text;
            margin-bottom: 10%
        }

        &-text {
            @extend %main-text;
        }
    }

    &__image {
        height: 100%;
        width: 50%;

        .greeting__img {
            width: 100%;
        }
    }
}

.terms {
    border: 1px solid rgb(79, 125, 204);
    height: 1.37%;
    width: $main-with;
    display: flex;
    justify-content: space-between;


    &__item {
        height: 100%;
        width: 23.07%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 61px;
        border: 4px solid $color-title;

        &-text {
            max-width: 80%;
            max-height: 80%;
            @extend %main-text-small;
            letter-spacing: 0.54px;
            text-align: center;

        }
    }
}

.image-steampunk {
    border: 1px solid rgb(129, 204, 79);
    height: 2.55%;
    width: $main-with;
    display: flex;
    justify-content: center;

    &__img {
        height: 100%;
    }
}

.result {
    border: 1px solid rgb(218, 144, 55);
    height: 4.6%;
    width: $main-with;

    &__title {
        height: 10%;
        @extend %title-text;
    }

    &__list {
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 5%;


        &-item {
            border: 1px solid rgb(55, 172, 218);
            @extend %main-text;
        }
    }
}

.quote-first {
    height: 1.32%;
    width: $main-with;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/main/frame.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    &__text {
        max-width: 865px;
        height: 70%;
        padding-top: 2.9%;
        @extend %quote-text;
        font-size: 95%;
        font-weight: 400;
        line-height: 233%;
        /* 55.92px */
        letter-spacing: 4.08px;
        text-transform: uppercase;
    }
}

.about {
    border: 1px solid rgb(218, 55, 69);
    height: 7.11%;
    width: $main-with;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__image {
        border: 1px solid rgb(58, 218, 55);
        height: 35%;
        width: 100%;
        display: flex;
        justify-content: space-between;

        &-alone {
            width: 48%;
            border: 1px solid rgb(16, 77, 15);
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: end;
            background-image: url(../images/main/author.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            border-radius: 68px;

            .inscription__container {
                width: 70%;
                height: 25%;
                display: flex;
                flex-direction: column;
                border-radius: 0px 65px 0px 0px;
                background: #FFF;

                .inscription__title {
                    @extend %quote-text;
                    align-self: flex-start;
                    font-size: 200%;
                    line-height: 142%;
                    /* 90.88px */
                    transform: rotate(-6.01deg);
                    padding-left: 12%;
                    padding-top: 3%;
                }

                .inscription__text {
                    // height: 50%;
                    // width: 96%;
                    align-self: end;
                    @extend %title-pink-small;
                    letter-spacing: 0.78px;
                    text-align: right;
                    margin-right: 6%;
                }
            }
        }

        &-child {
            width: 48%;
            background-image: url(../images/main/author-with-child.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            border-radius: 68px;
        }
    }

    &__content {
        height: 60%;
        display: flex;
        justify-content: space-between;

        &-text {
            @extend %main-text;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 47%;

            .about__item {
                .about__heart {}
            }
        }
    }
}

.quote-second {
    height: 1.33%;
    width: $main-with;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/main/frame.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    &__text {
        max-width: 865px;
        height: 70%;
        padding-top: 2.5%;
        @extend %quote-text;
        font-size: 100%;
        font-weight: 400;
        line-height: 233%;
        letter-spacing: 4.08px;
        text-transform: uppercase;
    }
}

.gallery {
    max-height: 2786px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &__first_row {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    &__second_row {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }


    &__third_row {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    &__fourth_row {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .gallery__image {

        .gallery__text {
            color: $color-title;
            text-align: center;
            font-family: $font-title;
            font-size: 26px;
            font-style: normal;
            font-weight: 400;
            line-height: 123%;
            /* 31.98px */
            letter-spacing: 0.78px;

            .gallery__txt {
                max-width: 505px;
                padding-top: 5%;
            }
        }

        #tarantino {
            height: 612px;

        }

        #girl_wolf {
            height: 612px;
        }

        #girl_mushrooms {
            height: 752px;
        }

        #girl_blue_flowers {
            height: 804px;
            margin-top: -130px;
        }

        #cocktail {
            height: 618px;
            margin-top: -130px;
        }

        #girl_orange_flowers {
            height: 629px;
        }

        #girl_bear {
            height: 631px;
        }

        #girl_robo_costume {
            height: 694px;
            margin-top: -30px;
        }

        #water_channel {
            height: 657px;
            margin-top: -30px;
        }

        #batman {
            height: 631px;
            margin-top: -38px;
        }

        #rabbit {
            height: 592px;
        }

        #girl_blue_hair {
            height: 627px;
            margin-top: -35px;
        }
    }
}

.questions {
    border: 1px solid rgb(49, 88, 118);
    height: 2.93%;
    width: $main-with;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__first {
        height: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &-content {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 3%;


            .questions__text {
                color: $color-main;
                font-family: $font-inscription;
                font-size: 120%;
                font-style: normal;
                font-weight: 400;
                line-height: 117%;
                letter-spacing: 0.96px;
                text-align: center;
            }

            .questions__line {}
        }

        &-image {
            height: 80%;

            .questions__first-img {
                height: 100%;
            }

        }
    }

    &__second {
        height: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &-image {
            height: 80%;

            .questions__second-img {
                height: 100%;
            }
        }

        &-content {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 3%;

            .questions__text {
                color: $color-main;
                font-family: $font-inscription;
                font-size: 130%;
                font-style: normal;
                font-weight: 400;
                line-height: 117%;
                letter-spacing: 0.96px;
                text-align: center;
            }

            .questions__line {}
        }
    }
}

.video-first {
    border: 1px solid rgb(123, 87, 15);
    height: 3.35%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &__title {
        @extend %title-pink-small;
        font-size: 100%;
    }
    &__content{
        width:100%;
        height:80%
    }


    iframe {
        border-radius: 20px;
        width:100%;
        height: 100%

    }
}

.program {
    height: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__content {
        height: 73.8%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &-title {
            @extend %title-text;
        }

        &-list {
            @extend %main-text;

            .program__content-item {
                @extend %main-text;

                span {
                    color: $color-title;
                    font-family: $font-inscription;
                    font-size: 40px;
                    font-weight: 400;
                    line-height: 233%;
                    letter-spacing: 0%;
                }
            }
        }
    }

    &__quote {
        color: $color-title;
        font-family: $font-title;
        font-size: 41px;
        font-weight: 400;
        line-height: 117%;
        letter-spacing: 0%;
        text-align: center;
    }
}

.methods {
    height: 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header {
        height: 43.64%;
        width: 100%;
        display: flex;
        justify-content: space-between;

        &-content {
            width: 39.15%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10%;

            .methods__header-title {
                @extend %title-text;
            }

            .methods__header-text {
                @extend %main-text;
            }
        }

        &-image {
            width: 47.2%;

            .methods__header-img {
                width: 100%;
            }
        }
    }

    &__list {
        width: 100%;
        padding-left: 6%;

        &-item {
            @extend %main-text;
            margin-bottom: 3%;
        }
    }
}

.tariff {
    height: 8.43%;
    width: 95.43%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_image {
        height: 35.63%;
        display: flex;
        justify-items: flex-start;
        align-items: end;
        border-radius: 81px;
        background-image: url(../images/main/three-guys.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &-title {
            height: 19%;
            width: 37.21%;
            border-radius: 0px 59px 0px 0px;
            @extend %title-pink-big;
            background: rgb(255, 255, 255);
        }
    }

    &__terms {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;

        &-item {
            @extend %main-text;
        }
    }

    &__quote {
        height: 28%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        background-image: url(../images/main/frame-big.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        @extend %quote-text;
    }
}

.lesson {
    height: 6.16%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    &__title {
        @extend %title-pink-big;
    }

    &__text {
        @extend %main-text;
    }

    &__video {
        height: 45%;
        width: 76.05%;
        @extend %quote-text;
    }
}

.payment {
    height: 14.25%;
    width: 95.43%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__image {
        height: 21.08%;
        width: 100%;
        display: flex;
        justify-items: flex-start;
        align-items: end;
        border-radius: 81px;
        background-image: url(../images/main/man-money.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &-title {
            height: 19%;
            width: 37.21%;
            border-radius: 0px 59px 0px 0px;
            @extend %title-pink-big;
            background: rgb(255, 255, 255);
        }
    }

    &__limit {
        width: 64.26%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-emoji {
            width: 113px;
            height: 105px;
        }


        .payment_limit-text {
            @extend %title-pink-big;
        }

        #fire-one {
            align-self: flex-start
        }

        #fire-two {
            align-self: flex-end
        }
    }

    &__list {
        &-item {
            @extend %main-text;
        }
    }

    &__price {
        &-wrapper {
            .payment__price-emoji {}

            .payment__price-sum {}
        }
    }

    &__button {}
}

















.footer {
    display: flex;
    height: 5%;

}