@import "./template";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 18903px; //временно! м.б поставить 400vh
}

.header {
    width: 41%;
    height: 3.3%;
    margin-top: 5%; //временная мера
    margin-bottom: 5%; //временная мера
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    @media screen and (max-width: 1000px) {
        //временная точка
        width: 95%;
    }

    border-radius: 81px;
    background-image: url(../images/header/girl-glass.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__dates {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        width: 25%;
        height: 21.16%;
        border-radius: 0px 70px 0px 55px;
        background: #FFF;
        align-self: flex-end;
        font-family: $font-title;
        color: $color-title;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 113%;
        /* 45.2px */
        letter-spacing: -0.8px;

        &-first {
            margin-right: 4px;
        }

        &-second {
            margin-right: 4px;
            margin-bottom: 19px;

        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        color: $color-title;
        justify-content: center;
        width: 40%;
        height: 29.2%;
        border-radius: 0px 80.028px 0px 59px;
        background: #FFF;
        align-self: flex-start;
        padding-top: 4%;


        &-first {
            font-size: 64px;
            // font-family: "Amatic SC", sans-serif; //kosko не встает
            font-family: $font-inscription;
            font-style: normal;
            font-weight: 400;
            line-height: 113%;
            /* 72.32px */
            letter-spacing: -6px;
            text-transform: uppercase;
        }

        &-second {
            font-family: $font-title;
            font-size: 96px;
            font-style: normal;
            font-weight: 400;
            line-height: 113%;
            /* 108.48px */
            letter-spacing: -2.88px;
            text-transform: uppercase;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 41%;

    gap: 1%; //временная мера


    @media screen and (max-width: 1000px) {
        //временная точка
        width: 95%;
    }
}

.greeting {
    display: flex;
    justify-content: space-between;
    height: 4.06%;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 46.55%;

        &-title {
            font-family: $font-title;
            color: #000;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 123%;
            /* 49.2px */
            letter-spacing: 1.2px;
            margin-bottom: 10.09%
        }

        &-text {
            @extend %main-text;
        }
    }

    &__image {
        width: 44, 42%;

        // &__img {}
    }
}

.terms {
    display: flex;
    justify-content: space-between;
    height: 1.47%;


    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 22.66%;
        border-radius: 61px;
        border: 4px solid #DF8CB0;

        &-text {
            width: 70%;
            @extend %main-text;
            font-size: 27px;
            letter-spacing: 0.54px;
            text-align: center;

        }
    }
}

.image {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;


    &__img {

        height: 100%;

    }
}

.result {
    height: 6%;

    &__title {
        height: 10%;
        color: $color-main;
        font-family: $font-title;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 123%;
        /* 49.2px */
        letter-spacing: 1.2px;
    }

    &__list {
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 5%;

        &-item {
            @extend %main-text;

        }

        li {
            list-style-type: none;
        }

        li::before {
            color: $color-title;
            content: "•";
            /* Сам маркер */
            padding-right: 4%;
            /* Расстояние от маркера до текста */
        }

    }
}

.quote-first {
    height: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/main/frame.png);
    background-repeat: no-repeat;
    //background-size: cover;
    background-position: center;

    &__text {
        max-width: 865px;
        height: 70%;
        padding-top: 2.5%;
        color: $color-title;

        text-align: center;
        font-family: $font-inscription;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 233%;
        /* 55.92px */
        letter-spacing: 4.08px;
        text-transform: uppercase;
    }
}

.about {
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__image {
        height: 617px;
        display: flex;
        justify-content: space-between;

        &-child {
            width: 48%;
            background-image: url(../images/main/author-with-child.png);
            background-repeat: no-repeat;
            background-position-x: center;
            background-size: 100%;
            border-radius: 68px;
        }

        &-alone {
            display: flex;
            justify-content: end;
            align-items: end;
            width: 48%;
            height: 100%;
            background-image: url(../images/main/author.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            border-radius: 68px;

            .inscription__container {
                width: 70%;
                height: 25%;
                display: flex;
                flex-direction: column;
                border-radius: 65px 0px 59px 0px;
                background: #FFF;

                .inscription__title {
                    height: 50%;
                    align-self: flex-start;
                    color: $color-title;
                    font-family: $font-inscription;
                    font-size: 64px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 142%;
                    /* 90.88px */
                    transform: rotate(-6.01deg);
                    padding-left: 12%;
                    padding-top: 5%;
                }

                .inscription__text {
                    height: 50%;
                    align-self: end;
                    width: 96%;
                    color: $color-title;
                    font-family: $font-title;
                    font-size: 26px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 123%;
                    /* 31.98px */
                    letter-spacing: 0.78px;
                    text-align: right;
                }
            }
        }
    }

    &__content {
        height: 55%;
        display: flex;
        justify-content: space-between;

        &-text {
            @extend %main-text;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 47%;

            .about__item {
                .about__heart {
                   
                }
            }
        }
    }
}

.quote-second {
    height: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/main/frame.png);
    background-repeat: no-repeat;
    //background-size: cover;
    background-position: center;

    &__text {
        max-width: 865px;
        height: 70%;
        padding-top: 2.5%;
        color: $color-title;

        text-align: center;
        font-family: $font-inscription;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 233%;
        /* 55.92px */
        letter-spacing: 4.08px;
        text-transform: uppercase;
    }
}

.gallery {
    max-height: 2786px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &__first_row {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    &__second_row {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }


    &__third_row {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    &__fourth_row {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .gallery__image {

        .gallery__text {
            color: $color-title;
            text-align: center;
            font-family: $font-title;
            font-size: 26px;
            font-style: normal;
            font-weight: 400;
            line-height: 123%;
            /* 31.98px */
            letter-spacing: 0.78px;

            .gallery__txt {
                max-width: 505px;
                padding-top: 5%;
            }
        }

        #tarantino {
            height: 612px;

        }

        #girl_wolf {
            height: 612px;
        }

        #girl_mushrooms {
            height: 752px;
        }

        #girl_blue_flowers {
            height: 804px;
            margin-top: -130px;
        }

        #cocktail {
            height: 618px;
            margin-top: -130px;
        }

        #girl_orange_flowers {
            height: 629px;
        }

        #girl_bear {
            height: 631px;
        }

        #girl_robo_costume {
            height: 694px;
            margin-top: -30px;
        }

        #water_channel {
            height: 657px;
            margin-top: -30px;
        }

        #batman {
            height: 631px;
            margin-top: -38px;
        }

        #rabbit {
            height: 592px;
        }

        #girl_blue_hair {
            height: 627px;
            margin-top: -35px;
        }
    }
}

.questions {
    height: 3.2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__first {
        display: flex;
        justify-content: space-between;

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 30%;

            .questions__text {
                color: $color-main;
                font-family: $font-inscription;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: 117%;
                /* 37.44px */
                letter-spacing: 0.96px;
                text-align: center;
            }

            .questions__line {}
        }

        &-image {}
    }

    &__second {
        display: flex;
        justify-content: space-between;

        &-image {}

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 40%;

            .questions__text {
                color: $color-main;
                font-family: $font-inscription;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: 117%;
                /* 37.44px */
                letter-spacing: 0.96px;
                text-align: center;
            }

            .questions__line {}
        }
    }
}

.video {
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__title {
        color: $color-title;
        text-align: center;
        font-family: $font-title;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 123%;
        /* 39.36px */
        margin-bottom: 60px;
    }

   
    iframe{
        
        border-radius: 20px;
        
    }
}

















.footer {
    display: flex;
    height: 5%;

}