* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.wrapper {
  border: solid 1px red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media screen and (min-width: 1200px) {
  .wrapper {
    width: 60vw;
    height: 2600vh;
  }
}
@font-face {
  font-family: "Russo One";
  src: url("../fonts/Russo_One/RussoOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSansCyrl/museosanscyrl_100.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kosko Regular";
  src: url("../fonts/KoskoRegular/KoskoRegular-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
.header__dates {
  color: #DF8CB0;
  font-family: "Russo One", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 113%;
  text-transform: uppercase;
  font-size: 150%;
}

.payment__limit .payment_limit-text, .payment__image-title, .lesson__title, .tariff_image-title, .header__title-second {
  color: #DF8CB0;
  font-family: "Russo One", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 113%;
  text-transform: uppercase;
  font-size: 400%;
}

.video-first__title, .about__image-alone .inscription__container .inscription__text {
  color: #DF8CB0;
  font-family: "Russo One", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 113%;
  text-transform: uppercase;
  font-size: 80%;
  line-height: 123%;
  letter-spacing: 3%;
}

.payment__list-item, .lesson__text, .tariff__terms-item, .methods__list-item, .methods__header-content .methods__header-text, .program__content-list .program__content-item, .program__content-list, .about__content-text, .result__list-item, .greeting__content-text {
  color: #000;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-style: normal;
  font-weight: 200;
  line-height: 126%;
  letter-spacing: 0.8px;
  font-size: 150%;
}

.terms__item-text {
  color: #000;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-style: normal;
  font-weight: 200;
  line-height: 126%;
  letter-spacing: 0.8px;
  font-size: 120%;
}

.methods__header-content .methods__header-title, .program__content-title, .result__title, .greeting__content-title {
  color: #000;
  font-family: "Russo One", sans-serif;
  font-size: 180%;
  font-weight: 400;
  line-height: 123%;
  letter-spacing: 3%;
  text-align: left;
}

.lesson__video, .tariff__quote, .quote-second__text, .about__image-alone .inscription__container .inscription__title, .quote-first__text {
  color: #DF8CB0;
  font-family: "Kosko Regular", sans-serif;
  text-align: center;
  font-style: normal;
}

html {
  font-size: 100%;
}

li {
  line-height: 1;
  list-style-image: url("../images/main/dot.png");
}

.header {
  height: 2.83%;
  width: 95.43%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 81px;
  background-image: url(../images/header/girl-glass.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header__dates {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: 27.29%;
  height: 21.16%;
  border-radius: 0px 70px 0px 55px;
  background: #FFF;
  align-self: flex-end;
}
.header__dates-first {
  margin-right: 4px;
}
.header__dates-second {
  margin-right: 4px;
  margin-bottom: 19px;
}
.header__title {
  display: flex;
  flex-direction: column;
  color: #DF8CB0;
  justify-content: center;
  width: 40%;
  height: 29.2%;
  border-radius: 0px 80.028px 0px 59px;
  background: #FFF;
  align-self: flex-start;
  padding-top: 4%;
}
.header__title-first {
  font-size: 250%;
  font-family: "Kosko Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 113%;
  text-transform: uppercase;
}
.main {
  height: 95.07%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.greeting {
  border: 1px solid rgb(203, 221, 110);
  height: 2.6%;
  width: 95.43%;
  display: flex;
  justify-content: space-between;
}
.greeting__content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 46.55%;
}
.greeting__content-title {
  margin-bottom: 10%;
}
.greeting__image {
  height: 100%;
  width: 50%;
}
.greeting__image .greeting__img {
  width: 100%;
}

.terms {
  border: 1px solid rgb(79, 125, 204);
  height: 1.37%;
  width: 95.43%;
  display: flex;
  justify-content: space-between;
}
.terms__item {
  height: 100%;
  width: 23.07%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 61px;
  border: 4px solid #DF8CB0;
}
.terms__item-text {
  max-width: 80%;
  max-height: 80%;
  letter-spacing: 0.54px;
  text-align: center;
}

.image-steampunk {
  border: 1px solid rgb(129, 204, 79);
  height: 2.55%;
  width: 95.43%;
  display: flex;
  justify-content: center;
}
.image-steampunk__img {
  height: 100%;
}

.result {
  border: 1px solid rgb(218, 144, 55);
  height: 4.6%;
  width: 95.43%;
}
.result__title {
  height: 10%;
}
.result__list {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 5%;
}
.result__list-item {
  border: 1px solid rgb(55, 172, 218);
}

.quote-first {
  height: 1.32%;
  width: 95.43%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/main/frame.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.quote-first__text {
  max-width: 865px;
  height: 70%;
  padding-top: 2.9%;
  font-size: 95%;
  font-weight: 400;
  line-height: 233%;
  /* 55.92px */
  letter-spacing: 4.08px;
  text-transform: uppercase;
}

.about {
  border: 1px solid rgb(218, 55, 69);
  height: 7.11%;
  width: 95.43%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about__image {
  border: 1px solid rgb(58, 218, 55);
  height: 35%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.about__image-alone {
  width: 48%;
  border: 1px solid rgb(16, 77, 15);
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  background-image: url(../images/main/author.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 68px;
}
.about__image-alone .inscription__container {
  width: 70%;
  height: 25%;
  display: flex;
  flex-direction: column;
  border-radius: 0px 65px 0px 0px;
  background: #FFF;
}
.about__image-alone .inscription__container .inscription__title {
  align-self: flex-start;
  font-size: 200%;
  line-height: 142%;
  /* 90.88px */
  transform: rotate(-6.01deg);
  padding-left: 12%;
  padding-top: 3%;
}
.about__image-alone .inscription__container .inscription__text {
  align-self: end;
  letter-spacing: 0.78px;
  text-align: right;
  margin-right: 6%;
}
.about__image-child {
  width: 48%;
  background-image: url(../images/main/author-with-child.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 68px;
}
.about__content {
  height: 60%;
  display: flex;
  justify-content: space-between;
}
.about__content-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 47%;
}
.quote-second {
  height: 1.33%;
  width: 95.43%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/main/frame.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.quote-second__text {
  max-width: 865px;
  height: 70%;
  padding-top: 2.5%;
  font-size: 100%;
  font-weight: 400;
  line-height: 233%;
  letter-spacing: 4.08px;
  text-transform: uppercase;
}

.gallery {
  max-height: 2786px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.gallery__first_row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.gallery__second_row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.gallery__third_row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.gallery__fourth_row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.gallery .gallery__image .gallery__text {
  color: #DF8CB0;
  text-align: center;
  font-family: "Russo One", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 123%;
  /* 31.98px */
  letter-spacing: 0.78px;
}
.gallery .gallery__image .gallery__text .gallery__txt {
  max-width: 505px;
  padding-top: 5%;
}
.gallery .gallery__image #tarantino {
  height: 612px;
}
.gallery .gallery__image #girl_wolf {
  height: 612px;
}
.gallery .gallery__image #girl_mushrooms {
  height: 752px;
}
.gallery .gallery__image #girl_blue_flowers {
  height: 804px;
  margin-top: -130px;
}
.gallery .gallery__image #cocktail {
  height: 618px;
  margin-top: -130px;
}
.gallery .gallery__image #girl_orange_flowers {
  height: 629px;
}
.gallery .gallery__image #girl_bear {
  height: 631px;
}
.gallery .gallery__image #girl_robo_costume {
  height: 694px;
  margin-top: -30px;
}
.gallery .gallery__image #water_channel {
  height: 657px;
  margin-top: -30px;
}
.gallery .gallery__image #batman {
  height: 631px;
  margin-top: -38px;
}
.gallery .gallery__image #rabbit {
  height: 592px;
}
.gallery .gallery__image #girl_blue_hair {
  height: 627px;
  margin-top: -35px;
}

.questions {
  border: 1px solid rgb(49, 88, 118);
  height: 2.93%;
  width: 95.43%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.questions__first {
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.questions__first-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 3%;
}
.questions__first-content .questions__text {
  color: #000;
  font-family: "Kosko Regular", sans-serif;
  font-size: 120%;
  font-style: normal;
  font-weight: 400;
  line-height: 117%;
  letter-spacing: 0.96px;
  text-align: center;
}
.questions__first-image {
  height: 80%;
}
.questions__first-image .questions__first-img {
  height: 100%;
}
.questions__second {
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.questions__second-image {
  height: 80%;
}
.questions__second-image .questions__second-img {
  height: 100%;
}
.questions__second-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3%;
}
.questions__second-content .questions__text {
  color: #000;
  font-family: "Kosko Regular", sans-serif;
  font-size: 130%;
  font-style: normal;
  font-weight: 400;
  line-height: 117%;
  letter-spacing: 0.96px;
  text-align: center;
}
.video-first {
  border: 1px solid rgb(123, 87, 15);
  height: 3.35%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.video-first__title {
  font-size: 100%;
}
.video-first__content {
  width: 100%;
  height: 80%;
}
.video-first iframe {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.program {
  height: 6%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.program__content {
  height: 73.8%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.program__content-list .program__content-item span {
  color: #DF8CB0;
  font-family: "Kosko Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 233%;
  letter-spacing: 0%;
}
.program__quote {
  color: #DF8CB0;
  font-family: "Russo One", sans-serif;
  font-size: 41px;
  font-weight: 400;
  line-height: 117%;
  letter-spacing: 0%;
  text-align: center;
}

.methods {
  height: 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.methods__header {
  height: 43.64%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.methods__header-content {
  width: 39.15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
}
.methods__header-image {
  width: 47.2%;
}
.methods__header-image .methods__header-img {
  width: 100%;
}
.methods__list {
  width: 100%;
  padding-left: 6%;
}
.methods__list-item {
  margin-bottom: 3%;
}

.tariff {
  height: 8.43%;
  width: 95.43%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tariff_image {
  height: 35.63%;
  display: flex;
  justify-items: flex-start;
  align-items: end;
  border-radius: 81px;
  background-image: url(../images/main/three-guys.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tariff_image-title {
  height: 19%;
  width: 37.21%;
  border-radius: 0px 59px 0px 0px;
  background: rgb(255, 255, 255);
}
.tariff__terms {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.tariff__quote {
  height: 28%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-image: url(../images/main/frame-big.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.lesson {
  height: 6.16%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.lesson__video {
  height: 45%;
  width: 76.05%;
}

.payment {
  height: 14.25%;
  width: 95.43%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.payment__image {
  height: 21.08%;
  width: 100%;
  display: flex;
  justify-items: flex-start;
  align-items: end;
  border-radius: 81px;
  background-image: url(../images/main/man-money.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.payment__image-title {
  height: 19%;
  width: 37.21%;
  border-radius: 0px 59px 0px 0px;
  background: rgb(255, 255, 255);
}
.payment__limit {
  width: 64.26%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.payment__limit-emoji {
  width: 113px;
  height: 105px;
}
.payment__limit #fire-one {
  align-self: flex-start;
}
.payment__limit #fire-two {
  align-self: flex-end;
}
.footer {
  display: flex;
  height: 5%;
}/*# sourceMappingURL=index.css.map */